*{
        background-color: #eee8e8ef;
        /*цвет фона*/
        font-family: Arial, Helvetica, sans-serif;
        /*шрифт без засечек*/
}
h1 {
        color: rgb(62, 67, 139);
         /* Цвет заголовка на главной странице */
        text-align: center;
         /* Месторасположение заголовка на главной странице */
}

h3 {
        color: rgb(95, 97, 112);
         /* Цвет меньшего заголовка на главной странице */
        font-family: "Arial", sans-serif;
         /* Шрифт без засечек */
        text-align: left;
         /* Месторасположение заголовка на главной странице */
}

h4 {
        color: rgb(95, 97, 112);
        /* Цвет ещё меньшего заголовка на главной странице */
        text-align: left;
        /* Месторасположение ещё меньшего заголовка на главной странице */
}


